footer {
  padding: 0.75rem 1rem;
  background-color: var(--light-color);
  font-size: var(--body-font-size-s);
}

footer .footer {
  max-width: 1860px;
  margin: auto;
}

footer .footer .default-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer .footer p {
  margin: 0;
  font-size: 14px;
}

footer .footer img {
  width: 55px;
  height: auto;
}

@media (width <= 768px) {

}