
/* leftnav-container */
.leftnav-container {
  width: 25vw;
  min-width: 275px;
  background-color: #111;
  color: white;
  padding: 2rem 1rem;
  padding-right: 40px;
  height: calc(100vh - var(--nav-height));
  position: sticky;
  top: var(--nav-height);
  overflow-y: auto;
  overflow-x: hidden;
  transition: transform 0.3s ease; /* for slide toggle */
}

.leftnav {
  height: 100%;
}


/* mobile layout < 900px */
@media (width < 900px) {
  .leftnav-container {
    position: fixed; /* slide over content */
    top: var(--nav-height);
    left: 0;
    width: 100%;
    max-height: 100%;
    transform: translateX(-100%); /* hidden by default */
    z-index: 9999;
  }
  .leftnav-container.open {
    transform: translateX(0);
  }
}
